/* RESET */
html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q,input, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
height: auto;
border-top-width: 0;
border-bottom-width: 0;
border-left-width: 0;
}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
blockquote, q {quotes: none;}
:focus {outline: 0;}
.clear {clear: both;display: block;height: 1px;overflow: hidden;margin: 0;padding: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}
ol, ul {list-style: none;}
body {background-color: white;background-position: center center;}
/* RESET */
body{
	line-height: 1.5em;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	height: 100%;
}
.full-screen{
	height: 100vh;
}
.purple-dark{
    background-color: #08132e;
}
#navmenu{
	background-color: #08132e;
}
.fullscreen{
	height: 100vh;
}
/* 
    navbar button css
*/
.btn-one {
	transition: all 0.3s;
	position: relative;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}
/* bar */
.full-screen{
	height: 100vh;
}
.doscom{
	opacity: 0;
	transform: translate(-50px,0);
	transition: 1.3s;
}
.doscom-muncul{
	opacity: 1;
	transform: translate(0,0);
}
.hide-gambar{
	opacity: 0;
	transform: translate(0,-40px);
	transition: 1s;
}
.muncul-gambar{
	opacity: 1;
	transform: translate(0,0);
}
.Galeri{
    background-color: #9b21d3;
}
#foto-booctcamp{
    border: 1px solid white;
}
#btn-masuk{
    border: 1px solid white;
    border-radius: 5px;
}
#btn-daftar{
    background-color: #9b21d3;
    border-radius: 5px;
}
#btn-daftar>p{
    font-size: 20px;
}
.apa-itu-bootcamp{
	opacity: 0;
	transform: translate(-60px,0);
	transition: 1s;
}
.bootcamp-muncul{
	opacity: 1;
	transform: translate(0,0);
}
.apa-itu-bootcamp >  p{
    line-height: 2em;
}
.gambar-benefit{
	opacity: 0;
	transform: translate(0,-60px);
	transition: 1s;
}
.benefit-muncul{
	opacity: 1;
	transform: translate(0,0);
}
.Biaya-dan-lainya{
    background: #f5f7fa;
}
.Daftar{
    background: #0b152e;
}
.media > img {
    width: 100px;
}
.acara{
    font-size: 80%;
}
.hover-gmbr{
	opacity: 0;
	transition: 0.6s;
	transform: translate(0,-40px);
}
.muncul{
	opacity: 1;
	transform: translate(0,0);
}
.info-regis{
	opacity: 0;
	transform: translate(-60px,0);
	transition: 1.5s;
}
.regis-muncul{
	opacity: 1;
	transform: translate(0,0);
}
.hover-gmbr:hover{
    cursor: pointer;
	opacity: 0.7;
}
#list-acara{
    border: 1.3px solid #dfe1e3;
}
#list-acara> img{
    width: 100px;
}
.list-acara{
	opacity: 0;
	transform: translate(0,-50px);
	transition: 1s;
}
.list-muncul{
	opacity: 1;
	transform: translate(0,0);
}
.list-acara:hover{
    cursor: pointer;
    box-shadow: 0px 20px 40px #888888; 
}
.daftar-sekarang{
	opacity: 0;
	transform: translate(-60px,0);
	transition: 1s;
}
.daftar-muncul{
	opacity: 1;
	transform: translate(0,0);
}
.list-from{
	opacity: 0;
	transform: translate(0,-60px);
	transition: 1s;
}
.form-muncul{
	opacity: 1;
	transform: translate(0,0);
}
#telegram{
	color : rgb(85, 235, 255);
}
.go-to{
	color: #9b21d3;
}
